
.container {
  height: 100vh;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.questiion-text {
  width: 800px;
  height: 100px;
  padding-top: 20px;
  text-wrap: wrap;
  background: #393E46;
  border: 1px solid #EEEEEE;
  border-radius: 22px;
}

ul {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 100px;
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 40%;
  height: 70px;
  
  font-size: 24px;
  
  background: #393E46;
  border: 1px solid #EEEEEE;
  border-radius: 22px;
  
  cursor: pointer;
}

li:hover {
  border-color: rgba(149, 149, 149, 0.778);
}

.correct {
  background: #00d397;
  animation: blink 0.5s ease-in-out 4;
}

.wrong {
  background: #ff4a4a;
  animation: blink 0.5s ease-in-out 4;
}

.game-left-anim, .game-right-anim {
  width: 400px;
}

.game-left-anim {
  position: absolute;
  left: 0;
  bottom: 0;
  animation: scaleInLeft 1.5s forwards;
}

.game-right-anim {
  position: absolute;
  right: 0;
  bottom: 0;
  animation: scaleInRight 1.5s forwards;
}

@keyframes scaleInLeft {
  from {
      left: 6%;
      transform: scale(1);
      opacity: 0;
  }
  to {
      transform: scale(0.8);
      left: 12%;
      bottom: -8%;
      opacity: 1;
  }
}

@keyframes scaleInRight {
  from {
      right: 6%;
      transform: scale(1);
      opacity: 0;
  }
  to {
      transform: scale(0.8);
      right: 12%;
      bottom: -8%;
      opacity: 1;
  }
}

@keyframes blink {
  0%, 100% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
}

.next-button {
  z-index: 1;
  
  width: 350px;
  height: 79px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  
  background: #393E46;
  border: 1px solid #EEEEEE;
  border-radius: 22px;
  
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  color: #EEEEEE;
}
