
.image-left, .image-right {
  position: absolute;
  width: 45vw;
}

.image-left {
  left: 0;
  bottom: 0;
}

.image-right {
  right: 0;
  bottom: 0;
}

.result-status {
  font-size: 30px;
  margin: 0 0 20px;
}

@media (min-width: 1024px) {
  .image-left, .image-right {
    width: 400px;
  }

  .button {
    font-size: 40px;
  }

  .result-status {
    font-size: 40px;
   }
}

button {
  z-index: 10;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 300px;
  height: 80px;
  background: #393E46;
  border-radius: 22px;
  font-weight: 600;
  font-size: 30px;
  color: #EEEEEE;
}

button:hover {
  border-color: rgba(149, 149, 149, 0.778);
}

button:active {
  transform: scale(0.9);
}
